@import "~bootstrap/scss/functions";

@import "overrides";

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/helpers/ratio";

@import "utils/app-theme";

.linkPreview {
  @extend .ratio, .ratio-1x1;
}

.btnShare {
  z-index: 100;
}

@include app-theme(dark) {
  .noPreview,
  .loadingPreview,
  .cardImg {
    background-color: $gray-900;
  }
}

@include app-theme(light) {
  .noPreview,
  .loadingPreview,
  .cardImg {
    background-color: $gray-100;
  }
}
