@import "variables";

.linkPreview {
	@extend .ratio, .ratio-4x3;
}

.btnShare {
	z-index: 100;
}

.fileCard {
	&:hover {
		@include app-theme(dark) {
			@extend .border-light;
		}

		@include app-theme(dark) {
			@extend .border-light;
		}
	}
}

@include app-theme(dark) {
	.noPreview, .loadingPreview {
		background-color: $gray-900;
	}
}

@include app-theme(light) {
	.noPreview, .loadingPreview {
		background-color: $gray-200;
	}
}