@import "restart";

@mixin apply-fs-size($level) {
  width: map-get($map: $font-sizes, $key: $level);
  height: map-get($map: $font-sizes, $key: $level);
}

#nav-container,
#footer-container,
.page-content {
  @extend .px-4, .px-md-5;
}

#nav-container,
#footer-container {
  @extend .mw-xl;
}

.toast-container {
  z-index: $zindex-tooltip;
}

.standout {
  @extend .px-3, .py-4, .my-3, .rounded;
}

.stall {
  .progress {
    height: 0.2rem;
    --#{$prefix}progress-bar-transition: width .3s linear;
  }
}

.pre-break {
  white-space: pre-line;
}

.alive {
  @include border-radius();
  padding: $btn-close-padding-y $btn-close-padding-x;
  opacity: $btn-close-opacity;

  &:hover {
    opacity: $btn-close-hover-opacity;
  }

  &:focus {
    box-shadow: $btn-close-focus-shadow;
    opacity: $btn-close-focus-opacity;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: $btn-close-disabled-opacity;
  }
}

.ic-alive {
  @extend .alive;
}

.material-icons-outlined {
  @extend .text-truncate;
  width: 24px;
  height: 24px;

  &.fs-1 {
    @include apply-fs-size(1);
  }

  &.fs-5 {
    @include apply-fs-size(5);
  }
}

.border-feedback {
  &:hover {
    @extend .border, .border-secondary;
  }
}

blockquote {
  @extend .blockquote;
}

ul,
ol {
  @extend .my-3;
}

.eight-em {
  width: 8em;
}

[data-display-theme="dark"] {
  display: none;
}

@include color-mode(dark) {
  [data-display-theme="light"] {
    display: none;
  }

  [data-display-theme="dark"] {
    display: unset;
  }

  #root {
    background-color: $black;
  }

  #nav {
    background-color: $dark;
  }

  .nav {
    --#{$prefix}nav-link-color: #{$nav-link-color-dark};
    --#{$prefix}nav-link-hover-color: #{$nav-link-hover-color-dark};
  }

  .nav-pills {
    --#{$prefix}nav-pills-link-active-bg: #{$nav-pills-link-active-bg-dark};
  }

  .file-preview {
    background-color: $dark;
  }

  .btn-outline-vivid {
    @include button-outline-variant($light);
  }

  .border-vivid {
    border-color: $light;
  }

  .standout {
    background-color: $gray-900;
  }

  .border-feedback {
    &:active {
      border: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}light);
    }
  }
}

@include color-mode(light) {
  #nav {
    background-color: $light;
  }

  .file-preview {
    background-color: $light;
  }

  .btn-outline-vivid {
    @include button-outline-variant($dark);
  }

  .border-vivid {
    border-color: $dark;
  }

  .standout {
    background-color: $gray-100;
  }

  .border-feedback {
    &:active {
      border: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}dark);
    }
  }
}
