@import "~bootstrap/scss/functions";

// override variables
$light: #f5f6f7;
$dark: #141516;
$secondary: rgba(101, 110, 119, 80%);

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";

$utilities: map-merge($utilities, (
	"position": map-merge(map-get($utilities, position), ( responsive: true )),
	"top": map-merge(map-get($utilities, top), ( responsive: true )),
	"bottom": map-merge(map-get($utilities, bottom), ( responsive: true )),
	"start": map-merge(map-get($utilities, start), ( responsive: true )),
	"end": map-merge(map-get($utilities, end), ( responsive: true )),
	"translate-middle": map-merge(map-get($utilities, translate-middle), ( responsive: true ))
));

// Configuration
@import "~bootstrap/scss/mixins";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";
