@import "~bootstrap/scss/functions";

@import "overrides";

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

$toast-background-color: rgba(var(--#{$prefix}body-bg-rgb), 1);

@import "~bootstrap/scss/maps";

@import "~bootstrap/scss/utilities";

$utilities: map-merge(
    $utilities,
    (
      "position":
      map-merge(
          map-get($utilities, position),
          (
            responsive: true,
          )
      ),
      "top":
      map-merge(
          map-get($utilities, top),
          (
            responsive: true,
          )
      ),
      "bottom":
      map-merge(
          map-get($utilities, bottom),
          (
            responsive: true,
          )
      ),
      "start":
      map-merge(
          map-get($utilities, start),
          (
            responsive: true,
          )
      ),
      "end":
      map-merge(
          map-get($utilities, end),
          (
            responsive: true,
          )
      ),
      "translate-middle":
      map-merge(
          map-get($utilities, translate-middle),
          (
            responsive: true,
          )
      ),
      "height":
      map-merge(
          map-get($utilities, height),
          (
            responsive: true,
          )
      ),
      "width":
      map-merge(
          map-get($utilities, width),
          (
            responsive: true,
          )
      ),
      "max-height":
      map-merge(
          map-get($utilities, max-height),
          (
            values:
            map-merge(
                map-get(map-get($utilities, max-height), values),
                (
                  unset: unset,
                )
            ),
            responsive: true,
          )
      ),
      "max-width":
      map-merge(
          map-get($utilities, max-width),
          (
            values:
            map-merge(
                map-get(map-get($utilities, max-width), values),
                (
                  md: map-get($grid-breakpoints, md),
                  lg: map-get($grid-breakpoints, lg),
                  xl: map-get($grid-breakpoints, xl),
                )
            ),
          )
      ),
      "background-color":
      map-merge(
          map-get($utilities, background-color),
          (
            values:
            map-merge(
                map-get(map-get($utilities, background-color), values),
                (
                  gray-100: $gray-100,
                  gray-200: $gray-200,
                  gray-800: $gray-800,
                  gray-900: $gray-900,
                )
            ),
          )
      ),
      "object-fit": (
        property: object-fit,
        class: fit,
        values: cover contain,
      ),
      "overflow-x":
      map-merge(
          map-get($utilities, overflow-x),
          (
            responsive: true,
          )
      ),
      "z-index": map-merge(map-get($utilities, z-index), (
        values: map-merge(map-get(map-get($utilities, z-index), values), (
          10000: 10000,
        ))
      ))
    )
);

// Configuration
@import "~bootstrap/scss/mixins";

// Override bootstrap color-mode
@import "utils/app-theme.scss";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";
